* {
    box-sizing: border-box;
}

body {
    padding-left: 22%;
    margin: 0;
    width: 98vw;
    font-weight: bold;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header {
    min-height: 45px;
    width: 97vw;
    height: 1rem;
    background-size: 100% 200%;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#ul {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0;
    padding: 0;
    max-width: 700px;
    background-color: white;
}

.li-suggestion {
    list-style: none;
    padding: 15px 30px;
    cursor: pointer;
}

.li-suggestion:hover {
    background-color: rgb(228, 228, 228);
}

input {
    border: 1px solid transparent;
    background-color: black;
    padding: 15px 30px;
    font-size: 16px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

input[type=text] {
    background-color: whitesmoke;
    width: 100%;
    outline: none;
}

#id {
    color: white;
}

#main-container {
    /* margin-top: 30%; */
    max-width: 700px;
    width: 95%;
    padding: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.round-corners {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}