* {
    box-sizing: border-box;
}

body {
    padding: 0.4em;
    margin: 0;
    width: 98vw;
    font-weight: bold;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header {
    min-height: 45px;
    width: 97vw;
    height: 1rem;
    background-size: 100% 200%;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

input {
    border: 1px solid transparent;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

input[type=text] {
    background-color: whitesmoke;
    width: 100%;
}

#id {
    color: white;
}

.main-container {
    margin-top: 30%;
    width: 95%;
    padding: 0;
}

.main-container i {
    color: red;
    position: relative;
    width: 50px;
    margin-left: 1200px;
    font-size: 30px;
    top: 35px;
}